<nav class="navbar navbar-expand-md navbar-light">		
	<a class="navbar-brand" href="#">
		<img src="https://geocodery.github.io/page/img/logo-icon.png" id="logoGeocodery">
		GeocodeMap
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="openSideBar($event)">TOC</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="openSideBar($event)">Analyst</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/danielgis" target="_blank">About</a>
			</li>
		</ul>
	</div>
</nav>