<div class="overflow-auto">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque at quidem ut non harum, consequatur in est? Vero commodi iste optio placeat asperiores at. Tempore doloremque ipsa natus hic sequi!</p>
    <img src="http://lorempixel.com/325/200" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, provident voluptatum? Illo vitae perferendis quisquam, enim recusandae eveniet eos fuga quos porro nostrum quo eius officiis minus dignissimos laudantium exercitationem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero nihil pariatur facere ipsam id nesciunt unde doloribus, accusantium modi repellat repellendus recusandae temporibus molestiae veniam dolore, qui ea dolorum.</p>
</div>

