<div class="overflow-auto">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque at quidem ut non harum, consequatur in est? Vero commodi iste optio placeat asperiores at. Tempore doloremque ipsa natus hic sequi!</p>
    <img src="http://lorempixel.com/315/200" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint mollitia officia debitis libero corrupti adipisci natus nemo aperiam quibusdam reprehenderit aliquam, perspiciatis ratione, labore voluptate corporis sed! Quos, quam ipsa.</p>
    <img src="http://lorempixel.com/315/200" />
</div>

