app-map{
    width: 100%;
}

.cf{
    width: 100%;
}

.sb{
    display: none;
    height: 100%;
}

.sb-active{
    border: solid 1px #DDD;
    width: 500px;
    overflow-x: hidden;
}


@media only screen and (max-width: 600px) {
    .sb-active{
        width: 100%;
        overflow-x: inherit;
    }
}