<div class="sbContainer">
	<div class="headWidget">
		<a class="titleWgt">
			<strong>
				<i class="fas fa-compass" style="color:#a1dd70;"></i>{{ " " + titleSidebar }}
			</strong>
		</a>
		<a href="#" class="optWgt" ngbTooltip="Like!"><i class="fas fa-thumbs-up"></i></a>
		<a href="#" class="optWgt" ngbTooltip="Information"><i class="fas fa-info-circle" style="color:#1cb3c8;"></i></a>
		<a href="#" class="optWgt" ngbTooltip="Close" (click)="closeSideBar()"><i class="fas fa-times-circle" style="color:#f17e7e;"></i></a>
	</div>
	<div>
		<hr>
	</div>
	<div class="contentWidget">
			<ng-content></ng-content>
	</div>
</div>